<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/estilos.css">
    <title>Login</title>
</head>
<body>
    <header class="header-login">
        <div class="logo">
            <a href="/home">
                <img src="/resources/img/logo.png" alt="Logo UCSC">
            </a>
        </div>
    </header>
    <main>
        <h1>Portal de Justificativo academicos</h1>
        <h2>Inicie sesión</h2>
        <form  class="login-form" action="/auth" method="post">
            <label for="user">RUT:</label>
            <input type="text" name="user" id="user" placeholder="RUT: 12123123">
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="Contraseña">
            <input type="submit" class="btn-login" value="Iniciar">
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof alert != "undefined"){%>
        <script>
            Swal.fire({
                title:"<%=alertTitle%>",
                text:"<%=alertMessage%>",
                icon:"<%=alertIcon%>",
                showConfirmButton:<%=showConfirmButton%> ,
                timer:<%=timer%>
            }).then(()=>{
                window.location= "<%=ruta%>"
            })
        </script>
    <%} %>

</body>
</html>